body {
    font-size: 15pt;
    background: #75BDB2;
}
p{
  background: #888DBE;
text-align: center;
}
h1,h3{
  text-align: center;
}
input{
  border-radius:1rem;
  height :3rem;
  text-align: center;
}
